﻿@model CityCenter.WebUI.Frontend.Models.Panel.ExcursionAdministratorModel


@foreach (var link in @Model.CurrentExcursion)
{ <div class="excursion-menu">
        @Html.RouteLink(link.Text, new
    {
        controller = "ExcursionAdministratorPanel",
        action = "EditExcursionContent",
        excursionId = link.Value
    })
    </div>
}
<a href="@Url.Action("AddNewExcursion", "AddNew")" id="new-excursion">
</a>
