﻿form {
    float: left;
}

#choise-img {
    width: 210px;
    margin-left: 20px;
}

img {
    max-width: 210px;
    max-height: 210px;
}

#request-form {
    width: 420px;
    height: 100%;
}

#wrapper-txt-box {
    height: 100px;
}

.txt-box {
    width: 190px;
    height: 45px;
    border: none;
    margin: 0 10px 10px 10px;
    float: left;
    font-size: 13px;
}

#request-form input {
    width: 180px;
    height: 25px;
    padding-left: 5px;
    margin: 0 10px 10px 10px;
}

#request-form label {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 0 10px;
}

#request-form textarea {
    width: 390px;
    margin: 0 10px;
    height: 265px;
}

#txt-area-head {
    width: 410px;
    margin: 10px 10px;
    height: 55px;
    font-size: 13px;
}

    #txt-area-head textarea {
        height: 20px;
        padding-top: 5px;
    }

#txt-area-desc {
    width: 410px;
    margin: 10px 10px;
    height: 295px;
    font-size: 13px;
}
#txt-area-head-ex {
    width: 410px;
    margin: 10px 10px;
    height: 100px;
    font-size: 13px;
}

    #txt-area-head-ex textarea {
        height: 70px;
        padding-top: 5px;
    }

#txt-area-desc-ex {
    width: 410px;
    margin: 10px 10px;
    height: 295px;
    font-size: 13px;
}

#edit-button {
    width: 150px !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin: 0 5px 10px 10px !important;
}

    #edit-button:hover {
        background-color: #92c03a;
        border: 1px solid black;
    }

#count-reservation {
    height: 20px;
    background-color: chartreuse;
    color: black;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px;
}
