﻿#wrapper-error-page {
    width: 100%;
    height: 100%;
}

#wrapper-error {
    width: 978px;
    height: 53px;
    margin: 10px auto;
    margin-bottom: 0;
    background: url('../images/404-page.png');
    padding-top: 370px;
}

#back-to-home {
    width: 274px;
    height: 37px;
    cursor: pointer;
    background: url('../images/back-to-main.png');
    margin: 0 auto;
}

    #back-to-home:hover {
        background: url('../images/hover-back-to-main.png');
    }
