#wrapper-body {
    width: 100%;
    height: 100%;
    border-top: 5px solid #195174;
}

    #wrapper-body p {
        padding: 0;
        margin: 0;
    }

#hotels-borders {
    width: 978px;
    height: 100%;
    margin: 20px auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.hotels-body {
    width: 730px;
    height: 100%;
    border-bottom: 2px solid black;
    margin: 20px auto;
    padding: 15px;
}

.hotels-header {
    margin: 0 auto;
    width: 715px;
    height: 30px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: lightgray;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 5px 5px 10px;
}

.hotels-img {
    width: 730px;
    height: 100%;
    margin: 10px auto;
    text-align: center;
}

    .hotels-img img {
        max-width: 730px;
        max-height: 730px;
    }

.hotels-description {
    width: 600px;
    height: 100%;
    font-size: 12px;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 10px;
    border-bottom: 1px solid #195174;
}

#link-button:link {
    text-decoration: none;
}

.hotels-reserve-button {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 25px;
    margin: 20px auto;
    padding: 20px 0 0 80px;
    border: 2px solid gray;
}

.hotels-contacts {
    width: 415px;
    height: 100%;
    margin: 10px auto;
    padding: 0 0 10px 10px;
    border: 1px solid lightgray;
}
