﻿body {
    margin: 0;
    padding: 0;
    background: #778899;
    font-family: Tahoma;
}

a {
    text-decoration: none;
}

#wrapper-panel-header {
    width: 100%;
    height: 105px;
    border-bottom: 2px solid white;
}

#header {
    width: 978px;
    height: 100%;
    margin: 0 auto;
}

#logo {
    float: left;
    width: 300px;
    height: 80px;
    background: url('../images/panel-logo.png');
    margin-top: 10px;
}

#sign-up-in {
    float: right;
    font-size: 20px;
    color: white;
    margin: 40px 20px 0 0;
}

    #sign-up-in a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

        #sign-up-in a:hover {
            color: black;
            text-decoration: underline;
            cursor: pointer;
        }

#wrapper-panel-body {
    width: 100%;
    height: 100%;
}

#wrapper-panel-body-func {
    width: 978px;
    height: 560px;
    margin: 20px auto;
}

#wrapper-panel-button {
    width: 280px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#wrapper-panel-func {
    width: 690px;
    height: 100%;
    border-right: 2px solid white;
}

#wrapper-panel-body-func #wrapper-panel-button, #wrapper-panel-func {
    float: left;
}

.panel-buttons {
    width: 280px;
    height: 60px;
    cursor: pointer;
    color: white;
    text-align: center;
    padding-top: 40px;
}

    .panel-buttons:hover {
        background: black;
    }

.selected {
    background: black;
}

#wrapper-footer {
    width: 100%;
    height: 100px;
    border-top: 2px solid white;
    margin-top: 20px;
}

#footer {
    width: 978px;
    height: 100px;
    margin: 0 auto;
}

#copyright {
    font-size: 18px;
    color: white;
    margin: 0 auto;
    width: 240px;
    padding-top: 40px;
}

.hotels-menu {
    height: 20px;
    background-color: beige;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    margin-left: 15px;
    float: left;
    padding: 0 10px;
}

.excursion-menu {
    height: 20px;
    background-color: beige;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    margin-left: 15px;
    float: left;
    padding: 0 10px;
}

#wrapper-menu {
    margin: 20px auto;
    height: 30px;
}

#wrapper-all-body {
    width: 978px;
    margin: 0 auto;
}

#new-excursion {
    width: 200px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid black;
    background: url('../images/new-excursion.png')
}
#new-hotel {
    width: 157px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;
    border: 1px solid black;
    background: url('../images/new-hotel.png')
}
