#wrapper-form {
    width: 345px;
    height: 550px;
    margin: 10px auto;
}

#request-form {
    height: 100%;
    margin: 20px auto;
}

    #request-form input, select, textarea, label {
        width: 300px;
        height: 40px;
        border: 2px solid lightgray;
        padding-right: 10px;
        padding-left: 10px;
        color: black;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px 10px 0 10px;
        float: left;
    }

#forgot-password input, select, textarea, label {
    width: 300px;
    height: 40px;
    border: 2px solid lightgray;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 10px 0 10px;
    float: left;
}

#wrapper-input {
    width: 100%;
    height: 340px;
}

select {
    width: 324px;
    height: 46px;
    cursor: pointer;
}

textarea {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
}

label {
    border: none;
}

#request-button, .change-password {
    width: 324px !important;
    cursor: pointer;
}

    #request-button:hover, .change-password:hover {
        background-color: #92c03a;
        border: 2px solid black !important;
    }

#wrapper-checkbox {
    width: 345px;
}

.checkbox {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    margin-top: 2px !important;
    cursor: pointer;
}

.cancel-right {
    margin-right: 0 !important;
}

.checkbox-and-label {
    float: left !important;
    margin: 15px 33px 10px 10px;
}

.label-pm {
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

#request-form span {
    margin: 10px;
    font-size: 15px;
    display: block;
    color: red;
    font-weight: bold;
}

#EndDate, #BeginDate {
    cursor: pointer;
}
