﻿body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

#wrapper-reservations-body-with-button {
    width: 500px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
    background: white;
}

#wrapper-reservations-body {
    width: 500px;
    height: 150px;
    margin: 10px auto;
    border: 1px solid black;
    background: white;
}

#reservation-header {
    background: darkslategrey;
    height: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 100px;
}

#reservations-date {
    width: 100%;
    height: 40px;
    font-size: 13px;
    color: black;
    border-bottom: 1px solid black;
}

    #reservations-date div {
        float: left;
        margin-left: 20px;
    }

#excursions-date {
    width: 100%;
    height: 25px;
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

    #excursions-date p {
        margin: 5px 0;
    }

#reservations-date-adm {
    width: 100%;
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center !important;
}

#excursions-date {
    width: 100%;
    height: 25px;
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

    #excursions-date p {
        margin: 5px 0;
    }

#reservation-details {
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
}

    #reservation-details div {
        float: left;
        margin-left: 60px;
    }

    #reservation-details p {
        margin: 5px 0;
    }

#reservation-details-adm {
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

    #reservation-details-adm div {
        margin: 0 auto;
    }

    #reservation-details-adm p {
        margin: 5px 0;
    }

#excursions-details {
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
}

    #excursions-details div {
        margin: 10px auto !important;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    #excursions-details p {
        margin-bottom: 0;
    }

#hotel-secvices {
    margin: 0 auto !important;
    width: 100%;
    display: block;
    text-align: center;
}

#end-date {
    float: right !important;
    margin-right: 20px;
}

.reservation-status {
    font-size: 15px;
    float: right;
    text-align: right;
    margin-top: 5px;
    padding-right: 20px;
}

.in-progress {
    color: chartreuse;
}

.finished {
    color: darkorange;
}

.decline {
    color: red;
}

.in-future {
    color: cornflowerblue;
}

.pending {
    color: lightblue;
}

#wrapper-accepting {
    width: 170px;
    height: 50px;
    margin: 10px auto !important;
    float: none !important;
}

    #wrapper-accepting input {
        width: 75px;
        height: 30px;
        border: 2px solid #d3d3d3;
        color: #000;
        font-weight: bold;
        font-size: 15px;
        float: left;
        cursor: pointer;
    }

        #wrapper-accepting input:hover {
            background-color: #92c03a;
            border: 2px solid black !important;
        }

#accept {
    margin-right: 0 !important;
}

.accepting-form {
    height: 30px;
    width: 75px;
    float: left;
    margin: 10px 20px 0 0;
}

#count-reservation {
    height: 20px;
    background-color: chartreuse;
    color: black;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px;
}
