.header-for-excursions {
    height: 30px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: lightgray;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

    .header-for-excursions p {
        text-align: center;
    }

.all-text-of-excursions {
    width: 700px;
    height: 100%;
    font-size: 12px;
    margin: 10px auto;
    text-align: justify;
}

a:link {
    text-decoration: none;
}

.excursions-request-button {
    width: 180px;
    height: 30px;
    background: #000;
    color: #fff;
    font-size: 25px;
    margin: 20px auto;
    padding: 6px 0 0 30px;
}
