﻿@using System.Globalization
@model CityCenter.WebUI.Frontend.Models.Excursion.ExcursionDescriptionModel
<div class="excursions-body">
    <div class="header-for-excursions">
        <p>
            @Model.Name
        </p>
    </div>
    <div class="excursions-main">
        <div class="excursions-img">
            <img src="@Url.Action("GetExcursionImage", "Excursions", new { excursionId = @Model.Excursion.Id })" alt="@Model.Name" />
        </div>
        <div class="excursions-text">
            <p>
                @Model.Description.ShortDescription
                <a href="@Url.Action("ExcursionInfo", "Excursions", new { excursionId = @Model.Excursion.Id })">Read more →</a>
            </p>
        </div>
    </div>
    <div class="excursions-footer">
        <div class="excursions-duration-start">
            <p>
                @string.Format("Duration : {0} mins", @Model.Excursion.Duration.TotalMinutes)
            </p>
        </div>
        <div class="excursions-duration-start">
            <p>
                @string.Format("Start: {0:h\\:mm}", Model.Excursion.BeginTime)
            </p>
        </div>
        <div class="excursions-duration-start">
            <p>
                @string.Format(new CultureInfo("uk-UA", false), "Price : {0:C}", @Model.Excursion.Price)
            </p>
        </div>
        <a href="@Url.Action("ExcursionRegistration", "ExcursionRegistration", new {excursionId = @Model.Excursion.Id})">
            <div class="excursions-request">
                <p>
                    Send request
                </p>
            </div>
        </a>
    </div>
</div>

