﻿@using System.Web.Optimization
@using PagedList
@using PagedList.Mvc
@model StaticPagedList<CityCenter.WebUI.Frontend.Models.Excursion.ExcursionDescriptionModel>

@{
    ViewBag.Title = "Excursions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    @Styles.Render("~/Content/excursion")
    @Styles.Render("~/Content/paged-list")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        @foreach (var excursion in @Model)
        {
            @Html.Partial("_Excursion", excursion)
        }
        <div style="width: 100%;">
            @Html.PagedListPager(Model, page => Url.Action("Excursions", new { page }))
        </div>
    </div>
</div>

