﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Account.FeedbackModel

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/hotel-reserve");
}

@section scripts{

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Feedback
                </p>
            </div>
            @using (Html.BeginForm("Feedback", "MainPage", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-form">
                    @Html.TextBoxFor(model => model.Login, new { @id = "Login", @placeholder = "Type name", @name = "Login", @class = "full-name" })
                    @Html.ValidationMessageFor(m => m.Login)
                    @Html.TextBoxFor(model => model.Email, new { @id = "Email", @placeholder = "Type e-mail", @name = "Email", @class = "e-mail" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextAreaFor(model => model.Message, new { @id = "Message", @name = "Message", @rows = "10", @cols = "45" })
                    @Html.ValidationMessageFor(m => m.Message)
                    <input type="submit" name="request-button" id="request-button" value="Send">

                </div>
            }
        </div>
    </div>
</div>

