﻿@using System.Web.Optimization
@using PagedList
@using PagedList.Mvc
@model StaticPagedList<CityCenter.WebUI.Frontend.Models.Hotel.HotelDescriptionModel>

@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/hotels")
}

<div id="wrapper-body">
    <div id="hotels-borders">
        @foreach (var hotel in @Model)
        {
            @Html.Partial("_Hotel", hotel)
        }
        <div style="width: 100%;">
            @Html.PagedListPager(Model, page => Url.Action("Hotels", new { page }))
        </div>
    </div>
</div>
