﻿@model CityCenter.WebUI.Frontend.Models.Panel.ExcursionReservationDetailsModel

@{
    string status;
    var activeStatus = "";
}
<div id="@(Model.ReservationDetails.Status == 0 ? "wrapper-reservations-body-with-button" : "wrapper-reservations-body")">
    <div id="reservation-header">
        @switch (Model.ReservationDetails.Status)
        {
            case 0:
                status = "Pending";
                break;
            case 1:
                status = "Declined";
                break;
            case 2:
                status = "Accepted";
                break;
            default:
                status = "";
                break;
        }
        @switch (status)
        {
            case "Pending":
                activeStatus = "pending";
                break;
            case "Declined":
                activeStatus = "decline";
                break;
            case "Accepted":
                activeStatus = "in-progress";
                break;
        }
        <div class="reservation-status @activeStatus">
            @status
        </div>
        @string.Format("Date : {0:ddd, MMMM d, yyyy}", Model.ReservationDetails.Date)
    </div>
    <div id="reservations-date-adm">
        <div>
            <p>@string.Format("Name : {0} {1}", @Model.User.FirstName, @Model.User.Surname)</p>
        </div>
    </div>
    <div id="reservation-details-adm">
        <div>
            <div>
                <p>
                    @string.Format("Email: {0}", Model.User.Email)
                </p>
            </div>
            <div>
                <p>@string.Format("Phone : {0}", @Model.User.Phone)</p>
            </div>
        </div>
        @if (Model.ReservationDetails.Status == 0)
        {
            <div id="wrapper-accepting">
                @Html.HiddenFor(m => m.ReservationDetails.ExcursionId)
                @using (Html.BeginForm("DeclineReservation", "ExcursionAdministratorPanel", new { reservationId = Model.ReservationDetails.ReservationId, excursionId = Model.ReservationDetails.ExcursionId }, FormMethod.Post, new { @class = "accepting-form" }))
                {
                    <input type="submit" value="Decline">
                }
                @using (Html.BeginForm("AcceptReservation", "ExcursionAdministratorPanel", new { reservationId = Model.ReservationDetails.ReservationId, excursionId = Model.ReservationDetails.ExcursionId }, FormMethod.Post, new { @class = "accepting-form", @id = "accept" }))
                {
                    <input type="submit" value="Accept">
                }
            </div>
        }
    </div>
</div>
