﻿@using System.Globalization
@model CityCenter.WebUI.Frontend.Models.Panel.ExcursionReservationDetailsModel

@{
    var status = "";
    var activeStatus = "";
}
<div id="wrapper-reservations-body">
    <div id="reservation-header">
        @switch (Model.ReservationDetails.Status)
        {
            case 0:
                status = "Pending";
                break;
            case 1:
                status = "Decline";
                break;
            case 2:
                status = "Accepted";
                break;
            default:
                status = "";
                break;
        }
        @switch (status)
        {
            case "Pending":
                activeStatus = "pending";
                break;
            case "Decline":
                activeStatus = "decline";
                break;
            case "Accepted":
                activeStatus = "in-future";
                break;
        }
        <div class="reservation-status @activeStatus">
            @status
        </div>
        @Model.ReservationDetails.ExcursionName
    </div>
    <div id="excursions-date">
        <div>
            <p>@string.Format(new CultureInfo("uk-UA", false), "Price : {0:C}", @Model.ReservationDetails.Price)</p>
        </div>
    </div>
    <div id="excursions-details">
        <div>
            Begin Date: @string.Format("{0:ddd, MMMM d, yyyy}", Model.ReservationDetails.Date)
        </div>
        <div>
            @string.Format("Start: {0:h\\:mm}", Model.ReservationDetails.BeginTime)
        </div>
        <div>
            Begin Date: @string.Format("Duration : {0} mins", @Model.ReservationDetails.Duration.TotalMinutes)
        </div>
    </div>
</div>
