﻿@using System.Globalization
@model CityCenter.WebUI.Frontend.Models.Panel.HotelReservationDetailsModel

@{
    var parking = "";
    var pool = "";
    var sauna = "";
    var tennisCourt = "";
    var gym = "";
    var absent = "";
    var status = "";
    var activeStatus = "";
    decimal dec;
    var dateCount = Model.ReservationDetails.EndDate.Subtract(Model.ReservationDetails.BeginDate);
    var price = dateCount.Days * Model.ReservationDetails.Price;
}

<div id="wrapper-reservations-body">
    <div id="reservation-header">
        @switch (Model.ReservationDetails.Status)
        {
            case 0:
                status = "Pending";
                break;
            case 1:
                status = "Decline";
                break;
            case 2:
                if (Model.ReservationDetails.BeginDate > DateTime.Now)
                {
                    status = "In Future";
                }
                if (Model.ReservationDetails.EndDate < DateTime.Now)
                {
                    status = "Finished";
                }
                if (Model.ReservationDetails.BeginDate < DateTime.Now && Model.ReservationDetails.EndDate > DateTime.Now)
                {
                    status = "In Progress";
                }
                break;
            default:
                status = "";
                break;
        }
        @switch (status)
        {
            case "Pending":
                activeStatus = "pending";
                break;
            case "Decline":
                activeStatus = "decline";
                break;
            case "In Future":
                activeStatus = "in-future";
                break;
            case "Finished":
                activeStatus = "finished";
                break;
            case "In Progress":
                activeStatus = "in-progress";
                break;
        }
        <div class="reservation-status @activeStatus">
            @status
        </div>
        @Model.ReservationDetails.HotelName
    </div>
    <div id="reservations-date">
        <div>
            <p>Begin Date: @string.Format("{0:ddd, MMMM d, yyyy}", Model.ReservationDetails.BeginDate)</p>
        </div>
        <div id="end-date">
            <p>End Date: @string.Format("{0:ddd, MMMM d, yyyy}", Model.ReservationDetails.EndDate)</p>
        </div>
    </div>
    <div id="reservation-details">
        <div>
            <p>Room Type: @Model.ReservationDetails.RoomType</p>
        </div>
        <div>
            <p>@string.Format(new CultureInfo("uk-UA", false), "Price : {0:C}", price)</p>
        </div>
        <div id="hotel-secvices">
            <p>
                Additional services:
                @if (Model.ReservationDetails.Parking)
                {
                    parking = "Parking";
                }

                @parking

                @if (Model.ReservationDetails.Pool)
                {
                    pool = "Pool";
                }

                @pool

                @if (Model.ReservationDetails.Sauna)
                {
                    sauna = "Sauna";
                }

                @sauna

                @if (Model.ReservationDetails.TennisCourt)
                {
                    tennisCourt = "TennisCourt";
                }
                @tennisCourt

                @if (Model.ReservationDetails.Gym)
                {
                    gym = "Gym";
                }
                @gym
                @if (!Model.ReservationDetails.Parking & !Model.ReservationDetails.Pool & !Model.ReservationDetails.Sauna & !Model.ReservationDetails.TennisCourt & !Model.ReservationDetails.Gym)
                {
                    absent = "None";
                }
                @absent
            </p>
        </div>
    </div>
</div>
