﻿@using System.Web.Optimization
@using CityCenter.WebUI.Frontend.Code
@model CityCenter.WebUI.Frontend.Models.Account.ChangePasswordFromEmailModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section style {

    @Styles.Render("~/Content/hotel-reserve")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        <div id="wrapper-panel-button">
            <a href="@Url.Action("Info", "UserPanel")">
                <div class="panel-buttons @Html.ActivePage("Info", "UserPanel")">
                    User Info
                </div>
            </a>
            <a href="@Url.Action("ChangePassword", "UserPanel")">
                <div class="panel-buttons @Html.ActivePage("ChangePassword", "UserPanel")">
                    Change Password
                </div>
            </a>
            <a href="@Url.Action("Feedback", "UserPanel")">
                <div class="panel-buttons @Html.ActivePage("Feedback", "UserPanel")">
                    Feedback
                </div>
            </a>
            <a href="@Url.Action("Reservations", "UserPanel")">
                <div class="panel-buttons @Html.ActivePage("Reservations", "UserPanel")">
                    My bookings
                </div>
            </a>
            <a href="@Url.Action("MyExcursions", "UserPanel")">
                <div class="panel-buttons @Html.ActivePage("MyExcursions", "UserPanel")">
                    My excursions
                </div>
            </a>
        </div>
        <div id="wrapper-panel-func">
            <div id="wrapper-form">
                @using (Html.BeginForm("ChangePasswordFromEmail", "UserPanel", FormMethod.Post, new { @id = "request-form" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPasswordConfirmation, new { @placeholder = "Confirm new Password" })
                        @Html.ValidationMessageFor(m => m.NewPasswordConfirmation)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change" class="change-password" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>