﻿@using CityCenter.WebUI.Frontend.Code

@{
    ViewBag.Title = "UserPanel";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation")
        <div id="wrapper-panel-func">
        </div>
    </div>
</div>