﻿@using System.Web.Optimization
@using PagedList.Mvc
@model PagedList.StaticPagedList<CityCenter.WebUI.Frontend.Models.Panel.HotelReservationDetailsModel>

@{
    ViewBag.Title = "My Bookings";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var totalItems = ViewBag.TotalItems;
    var pageSize = ViewBag.PageSize;
}

@section style {
    @Styles.Render("~/Content/show-reservations")
    @Styles.Render("~/Content/paged-list")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation")
        <div id="wrapper-panel-func">
            @if (@Model.Count != 0)
            {
                foreach (var reservation in @Model)
                {
                    @Html.Partial("_Reservation", reservation)
                }
                if (totalItems > pageSize)
                {
                    @Html.PagedListPager(Model, page => Url.Action("Reservations", new { page }))
                    ;
                }
            }
            else
            {
                <h3>No reservations</h3>
            }
        </div>
    </div>
</div>




