﻿@model CityCenter.WebUI.Frontend.Models.Panel.HotelAdministratorPanelModel


@foreach (var link in @Model.CurrentHotels)
{
    <div class="hotels-menu">
        @Html.RouteLink(link.Text, new
        {
            controller = "HotelAdministratorPanel",
            action = "EditHotelContent",
            hotelId = link.Value
        })
    </div>  
}
<a href="@Url.Action("AddNewHotel", "AddNew")" id="new-hotel">
</a>
