﻿@using System.Web.Optimization
@using CityCenter.WebUI.Abstract
@using CityCenter.WebUI.Frontend.Code

@{
    Layout = null;
    var securityManager = DependencyResolver.Current.GetService<ISecurityManager>();
    var username = securityManager.GetCurrentUser();
    var register = "Sign up";
    var logIn = "Log in";
    var logOut = "Log out";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="City Center guide for tourists">
    <meta name="author" content="City Center Team">
    <link rel="shortcut icon" href="~/Content/images/inner-logo.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/main")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("style", false)
    @RenderSection("scripts", false)
    @RenderSection("ico", false)
</head>
<body>
    <div id="wrapper-header">
        <div id="wrapper-top-header">
            <div id="wrapper-double-header">
                <div id="sign-up-in">
                    <a class="sign @(username == "" ? @Html.ActivePage("SignUp", "Account") : null)" href="@(username == "" ? Url.Action("SignUp", "Account") : Url.Action("Panel", "UserPanel"))" title="@(username == "" ? null : "Go to panel")">@(username == "" ? register : username) </a>
                    <span id="slash">|</span>
                    <a class="sign @(username == "" ? @Html.ActivePage("LogIn", "Account") : null)" id="login" href="@(username == "" ? Url.Action("LogIn", "Account") : Url.Action("LogOut", "Account"))">@(username == "" ? logIn : logOut)</a>
                </div>
            </div>
        </div>
        <div id="max-wrapper-header">
            <header id="header">
                <a href="@Url.Action("Index", "MainPage")">
                    <div id="logo">
                    </div>
                </a>
                <nav id="menu">
                    <ul class="menu-list">
                        <li>
                            <a href="@Url.Action("Index", "MainPage")" class="@Html.ActivePage("Index", "MainPage")">Main</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hotels", "Hotels")" class="@Html.ActivePage("Hotels", "Hotels")">Hotels</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Excursions", "Excursions")" class="@Html.ActivePage("Excursions", "Excursions")">Excursions</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Map", "MainPage")" class="@Html.ActivePage("Map", "MainPage")">Map</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <section>
        <div>
            @RenderBody()
        </div>
    </section>
    <div id="wrapper-footer-nav">
        <nav id="footer-nav">
            <div>
                <nav id="footer-menu">
                    <ul class="menu-list">
                        <li>
                            <a href="@Url.Action("Index", "MainPage")" class="@Html.ActivePage("Index", "MainPage")">Main</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Hotels", "Hotels")" class="@Html.ActivePage("Hotels", "Hotels")">Hotels</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Excursions", "Excursions")" class="@Html.ActivePage("Excursions", "Excursions")">Excursions</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Map", "MainPage")" class="@Html.ActivePage("Map", "MainPage")">Map</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <a href="@(username == "" ? Url.Action("Feedback", "MainPage") : Url.Action("Feedback", "UserPanel"))">
                    <div id="feedback">
                    </div>
                </a>
            </div>
            <div id="contacts">
                <article id="contacts-info">
                    <p>
                        City Center
                    </p>
                    <p>
                        Phone: +00 (123) 456 7890
                    </p>
                    <p>
                        e-mail: lviv.city.center@gmail.com
                    </p>
                </article>
            </div>
        </nav>
    </div>
    <div id="wrapper-footer">
        <footer id="footer">
            <p id="copyright">
                Copyright © 2015 City Center
            </p>
        </footer>
    </div>
</body>
</html>
