﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Hotel.HotelDescriptionModel
@{
    ViewBag.Title = "EditHotelContent";
    Layout = "~/Views/HotelAdministratorPanel/_MenuLayout.cshtml";
}

@section style{

    @Styles.Render("~/Content/edit-content")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation", new ViewDataDictionary { { "id", @Model.HotelDescription.HotelId }, { "PendingCount", ViewBag.CountOfPendingReservation } })
        <div id="wrapper-panel-func">
            @using (Html.BeginForm("EditHotelContent", "HotelAdministratorPanel", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-txt-box">
                    <div class="txt-box">
                        @Html.LabelFor(m => m.HotelName)
                        @Html.TextBoxFor(m => m.HotelName)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.HotelDescription.Address)
                        @Html.TextBoxFor(m => m.HotelDescription.Address)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.HotelDescription.Phone)
                        @Html.TextBoxFor(m => m.HotelDescription.Phone)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.HotelDescription.Site)
                        @Html.TextBoxFor(m => m.HotelDescription.Site)
                    </div>
                </div>
                <div id="txt-area-head">
                    @Html.LabelFor(m => m.HotelDescription.Header)
                    @Html.TextAreaFor(m => m.HotelDescription.Header)
                </div>
                <div id="txt-area-desc">
                    @Html.LabelFor(m => m.HotelDescription.Description)
                    @Html.TextAreaFor(m => m.HotelDescription.Description)
                </div>
                @Html.HiddenFor(m => m.HotelDescription.HotelId)
                <input type="submit" id="edit-button" name="edit-button" value="Edit" />
            }
            @using (Html.BeginForm("UploadNewImage", "HotelAdministratorPanel", new { hotelId = @Model.HotelDescription.HotelId }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "choise-img" }))
            {
                <img src="@Url.Action("GetHotelImage", "Hotels", new {@Model.HotelDescription.HotelId})" alt="@Model.HotelName" />
                <input type="file" name="Image" />
                <input type="submit" value="Update Photo" />
            }
        </div>
    </div>
</div>
