﻿@using CityCenter.WebUI.Frontend.Code
@{
    var hotelId = (int)ViewData["id"];
    var countOfPendingReservation = (int)ViewData["PendingCount"];
}
<div id="wrapper-panel-button">
    <a href="@Url.Action("EditHotelContent", "HotelAdministratorPanel", new { hotelId })">
        <div class="panel-buttons @Html.ActivePage("EditHotelContent", "HotelAdministratorPanel")">
            Edit Hotel Content
        </div>
    </a>

    <a href="@Url.Action("AcceptedReservations", "HotelAdministratorPanel", new {hotelId })">
        <div class="panel-buttons @Html.ActivePage("AcceptedReservations", "HotelAdministratorPanel")">
            Reservations
        </div>
    </a>
    <a href="@Url.Action("PendingReservations", "HotelAdministratorPanel", new { hotelId })">
        <div class="panel-buttons @Html.ActivePage("PendingReservations", "HotelAdministratorPanel")">
            Pending Reservations @if (countOfPendingReservation != 0)
            {
                <span id="count-reservation">+@countOfPendingReservation</span>

            }
        </div>
    </a>
</div>

