﻿@using System.Globalization
@model CityCenter.Entities.HotelReservationDetails

@{
    var parking = "";
    var pool = "";
    var sauna = "";
    var tennisCourt = "";
    var gym = "";
    var absent = "";
    var status = "";
    var activeStatus = "";
    var dateCount = Model.EndDate.Subtract(Model.BeginDate);
    var price = dateCount.Days * Model.Price;
}
<div id="@(Model.Status == 0 ? "wrapper-reservations-body-with-button" : "wrapper-reservations-body")">
    <div id="reservation-header">
        @switch (Model.Status)
        {
            case 0:
                status = "Pending";
                break;
            case 1:
                status = "Decline";
                break;
            case 2:
                if (Model.BeginDate > DateTime.Now)
                {
                    status = "In Future";
                }
                if (Model.EndDate < DateTime.Now)
                {
                    status = "Finished";
                }
                if (Model.BeginDate < DateTime.Now && Model.EndDate > DateTime.Now)
                {
                    status = "In Progress";
                }
                break;
            default:
                status = "";
                break;
        }
        @switch (status)
        {
            case "Pending":
                activeStatus = "pending";
                break;
            case "Decline":
                activeStatus = "decline";
                break;
            case "In Future":
                activeStatus = "in-future";
                break;
            case "Finished":
                activeStatus = "finished";
                break;
            case "In Progress":
                activeStatus = "in-progress";
                break;
        }
        <div class="reservation-status @activeStatus">
            @status
        </div>
        @Model.HotelName
    </div>
    <div id="reservations-date">
        <div>
            <p>Begin Date: @string.Format("{0:ddd, MMMM d, yyyy}", Model.BeginDate)</p>
        </div>
        <div id="end-date">
            <p>End Date: @string.Format("{0:ddd, MMMM d, yyyy}", Model.EndDate)</p>
        </div>
    </div>
    <div id="reservation-details">
        <div>
            <p>Room Type: @Model.RoomType</p>
        </div>
        <div>
            <p>@string.Format(new CultureInfo("uk-UA", false), "Price : {0:C}", price)</p>
        </div>
        <div id="hotel-secvices">
            <p>
                Additional services:
                @if (Model.Parking)
                {
                    parking = "Parking";
                }

                @parking

                @if (Model.Pool)
                {
                    pool = "Pool";
                }

                @pool

                @if (Model.Sauna)
                {
                    sauna = "Sauna";
                }

                @sauna

                @if (Model.TennisCourt)
                {
                    tennisCourt = "TennisCourt";
                }
                @tennisCourt

                @if (Model.Gym)
                {
                    gym = "Gym";
                }
                @gym
                @if (!Model.Parking & !Model.Pool & !Model.Sauna & !Model.TennisCourt & !Model.Gym)
                {
                    absent = "None";
                }
                @absent
            </p>
        </div>
        @if (Model.Status == 0)
        {
            <div id="wrapper-accepting">
                @Html.HiddenFor(m => m.Id)
                @using (Html.BeginForm("DeclineBook", "HotelAdministratorPanel", new { reservationId = Model.Id, hotelId = Model.HotelId }, FormMethod.Post, new { @class = "accepting-form" }))
                {
                    <input type="submit" value="Decline">
                }
                @using (Html.BeginForm("AcceptBook", "HotelAdministratorPanel", new { reservationId = Model.Id, hotelId = Model.HotelId }, FormMethod.Post, new { @class = "accepting-form", @id = "accept" }))
                {
                    <input type="submit" value="Accept">
                }
            </div>
        }
    </div>
</div>